@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bgImage">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <form class="serchForm">
            <button type="button" class="btn btn-gradient">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
              </svg>
              Вы поставщик
            </button>
            <button type="button" class="btn btn-gradient">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"></path>
              </svg>
              Вы покупатель
            </button>            
            <div class="row mt-3">
              <div id="hintText" class="form-floating input-group flex-nowrap" >
                  @*onmousedown="document.querySelectorAll('#hintText p').forEach(x=>x.style.display='none')"*@
                <input type="search" class="form-control" id="searchInputMain" placeholder="Поиск" aria-describedby="addon-wrapping"/>
                <button class=" btn btn-gradient" id="addon-wrapping">Поиск</button>
                <label for="searchInputMain">Поиск</label>
            </div>
                <div class="container-fluid bgInputBotom" id="inputBottom">
              </div>
            </div>
          </form>
        </div>
        <div class="col-2"></div>
      </div>
</div>

<div class="container-xl pt-4">
    <h2 class="mb-4 title">Все поставщики по категориям</h2>
    <div class="row" id="rowAddCard">
@*            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <h6 class="card-subtitle mb-2 text-muted">Подзаголовок карты</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>*@
    </div>
    <div id="observer" style="height: 20px; width: 100%"></div>
</div>

    @*<div class="container-xl pt-4">
      <div class="row">
          <div class="col-lg mb-4">
              <h2 class="mb-4 title">Все поставщики по категориям</h2>
              <div class="row">
                <ul class="list-unstyled" id="ulSections">
                  <!-- app -->
                </ul>
              </div>
          </div>

          </div>
          <div class="col-lg-auto">
              <div style="width: 300px">

              </div>
          </div>
    </div>*@
